/* .name to define css of classes */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');




.title {
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 48px;
    
}

.homepage {
  background-image: url('nbatop75.webp');
  background-size: cover;
  background-position: center;
  opacity: 0.2; 
}

.honorable-mention {
  position: relative;
  z-index: 1;
}

.honorable-mention .background-image {
  background-image: url('zazabackground.png');
  background-size: cover;
  background-position: center;
  opacity: 0.2;
}

h1 {
    text-align: center;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

p {
  font-family:'Inter', sans-serif;
}

.show-popup-btn {
  position: fixed; 
  bottom: 15%; 
  right: 20% ; 
  z-index: 9999; 
  /* background-color: #007bff; */
  background-image:linear-gradient(to right,#007bff, #07223e  )
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  padding: 5px 10px;
  font-family: 'Jost', sans-serif;
  font-size: 36px;
  border: none;
  border-radius: 15px;
 
}

.show-popup-btn:hover {
  background-color: #0056b3; /* Darken the background color on hover */
}

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}
.popup .content {
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%) scale(0);
  background: #fff;
  width: 450px;
  height: 220px;
  z-index:2;
  text-align:center;
  padding: 20px;
  box-sizing:border-box;
}
.popup .close-btn {
  cursor: pointer;
  position:absolute;
  right:20px;
  top:20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size:25px;
  font-weight: 600;
  line-height: 30px;
  text-align:center;
  border-radius:50%;
}

.popup.active .overlay {
  display:block;
}
.popup.active .content {
  transition: all 300ms ease-in-out;
  transform:translate(-50%, -50%) scale(1);
}


.paragraph {
    margin: 40px;
    margin-left: 40px;
    margin-right: 40px;
    /* opacity: 0; */
}


.button-container {
    display: flex;
    justify-content: center; 
}


.redirect-button {
    padding: 5px 10px;
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    background-color: rgb(2, 88, 88);
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    margin-right: 1%;
    margin-left: 1%;
}

.redirect-button:hover {
  background-color:rgb(2, 88, 88);
}
  

  .image {
    text-align: center;
  }

  /* Styles for the image container */
.image-container {
    text-align: center; /* Aligns the content (image) inside the container horizontally */
  }


  h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 39px;
  } 

  
.test {
  background-color: red;
}